.btnCategorias {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  background-color: var(--cor-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.btnCategorias.active,
.btnCategorias:hover {
  background-color: var(--cor-p);
}

.btnCategorias .Image {
  width: 24px;
}
