.card {
  flex: 1 0 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--cor-p);
  border-radius: 4px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 5px 3px #00000046;
}

.card figure img {
  max-height: 250px;
  object-fit: cover;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1 0 150px;
  gap: 6px;
}

.informacoes small {
  font-weight: 500;
  color: var(--cor-p);
}

.informacoes span {
  margin-left: auto;
}
